@model IEnumerable<EllinMMCProject.Models.Trainer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">Trainers List</h2>
    <a asp-action="Create" class="btn btn-lg text-white btn-success shadow">
        <i class="bi bi-plus-circle"></i> Create New Trainer
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sitat)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <img src="~/@item.Image"
                         alt="Trainer Image"
                         style="width:500px; height:400px; object-fit:cover;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Positions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sitat)
            </td>
            <td>
                    <div class="d-grid gap-2">
                        <a asp-action="Edit" asp-route-id="@item.Id"
                           class="btn btn-lg btn-warning text-white shadow-sm">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id"
                           class="btn btn-lg btn-info text-white shadow-sm">
                            <i class="bi bi-eye"></i> Details
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id"
                           class="btn btn-lg btn-danger shadow-sm">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
